@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

html {
  background: #000;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

p,
span {
  font-size: 1rem;
  font-family: 'Courier New';
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 179, 207) !important;
}

.swiper-pagination-bullet {
  background: rgb(0, 179, 207) !important;
}

@media (max-width: 400px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .featuresSwiper {
    height: 375px;
  }
}
